@media screen and (max-width:770px){

    .navbar{
        width: 90%;
    }

    .logo h2 a{
        font-size: 20px;
    }

    #menu_bar {
        display: grid;
        color: #fff;
        position: absolute;
        right: 5%;
        top: 20%;
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
    }
    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        background: #24292D;
        width: 100%;
        left: 0;
        padding: 0;
        transition: top 0.3s ease; 
        overflow: hidden;
    }
    .nav_links.active {
        display: flex;
        flex-direction: column;
        overflow: visible;
    }

    .nav_links li a {
        border-bottom: 1px solid #fff;
        display: block;
        border-radius: 0;
        padding: 10px 0;
        margin: 0 20px;
    }
    .nav_links li:last-child a{
        border-bottom: none;
    }

    #menu_bar.active {
        background: #24292D;
    }
    .inner_anasayfa{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .child_anasayfa{
        flex-basis: 100;
    }
    .child_anasayfa:last-child{
        margin-bottom: 20px;
    }
    .child_anasayfa h1{
        font-size: 30px;
        line-height: 35px;

    }
    .child_anasayfa p{
        font-size: 20px;
    }
    .innersoftware_child{
        flex-basis: 100½;
        margin-bottom: 30px;
    }
}